<div class="wave-container about-bg wow animate__fadeInDown" data-wow-delay="0.6s" data-wow-duration="1s">

  <div class="container z-depth-5 mt-5">

    <!--Section: Content-->
    <section class="text-center dark-grey-text">

      <!-- Section heading -->
      <h3 class="font-weight-bold mb-4 pb-2 holistic-header text-center wow animate__zoomIn" data-wow-delay="0.8s"
          data-wow-duration="1s">Linesh Dev Guruvayoor</h3>

      <div class="wrapper-carousel-fix">
        <!-- Carousel Wrapper -->
        <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade"
             data-ride="carousel"
             data-interval="false">
          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <div class="testimonial">
                <!--Avatar-->
                <div class="avatar mx-auto mb-4 wow animate__zoomIn" data-wow-delay="1s" data-wow-duration="1s">
                  <img src="assets/images/about-linesh.png" class="rounded-circle img-fluid"
                       alt="Linesh">
                </div>
                <div class="wow animate__zoomIn" data-wow-delay="0.8s" data-wow-duration="1.2s">
                  <!--Content-->

                  <div class="holistic-text darken-1 black-text">
                    <p>
                      <i class="fas fa-quote-left"></i> Linesh Dev was born and brought up near the famous Guruvayoor
                      temple in Thrissur district, Kerala. He was always a pious and devoted person. Few years ago, he
                      realized his thirst for seeking <i>Truth</i> through continuous meditation, prayers and ardent
                      devotion. Many years hence, in the year 2016, he suddenly got the vision of the <i>Devi
                      (Goddess)</i> in his house. Since then, he realized that he had attained extraordinary powers –
                      powers to heal, divine astrology visions and so on. He realized the healing powers of
                      <i>Vibhuti</i>
                      from the sacred fire and Haldi powder duly spiritualized. The Vibhuti and Haldi powder were by
                      products of the worship of the Devi.
                    </p>
                    <p>
                      He has since been instrumental in healing hitherto incurable illnesses. He also explored other
                      forms
                      of healing – Pranic as well as Tantric. Through this expertise, he can visualize the root cause of
                      problems, and ailments, and diagnose if the problem is at the physical, emotional/mental or
                      spiritual level. . And upon meditating over these problem causes as well as offering the
                      worshipped
                      vibhuti and haldi powder, he was able to resolve all issues of the patient. Through a process of
                      meditation, he could induce positive energy into the bodies of the ailing patients and cause the
                      ailments to be remedied.
                    </p>
                    <p>
                      Linesh Dev wants to give the benefit of this spiritual gift to the benefit of a wider audience. He
                      already has patients from other districts, states and even foreign nationals.
                    </p>
                  </div>
                </div>
                <!--Review-->
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
                <i class="fas fa-star blue-text"> </i>
              </div>
            </div>

          </div>

        </div>
        <!-- Carousel Wrapper -->
      </div>

    </section>
    <!--Section: Content-->


  </div>
</div>
