<div class="wave-container blog-display-bg wow animate__fadeInDown" data-wow-duration="2s" data-wow-delay="0.6s">

  <div class="container wow animate__zoomIn z-depth-2" data-wow-duration="2s" data-wow-delay="0.6s">

    <!--Section heading-->
    <h1 class="text-center h1 pt-4 mb-3 blog-display--header">
      <strong>{{blog.blogMeta.title}}</strong>
      <p class="font-small grey-text mb-0 ml-3 blog--display-text">
        <i class="far fa-clock-o dark-grey-text"></i> Date: {{blog.blogMeta.date}}</p>
    </h1>


    <!--Grid row-->
    <div class="row pt-1">

      <!--Grid column-->
      <div class="col-md-12 col-xl-12">
        <p class="article blog--display-text">{{blog.section1}}</p>

      </div>
      <!--Grid row-->
    </div>

    <!--Grid row-->
    <div class="row mb-2 mt-2">
      <!--Grid column-->
      <div class="col-md-12 col-xl-12">

        <p class="article blog--display-text">{{blog.section2}}</p>
      </div>
    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row mb-2 mt-2">

      <!--Grid column-->
      <div class="col-md-12 col-xl-12">
        <p class="article blog--display-text">{{blog.section3}}</p>

      </div>
    </div>

    <!--Grid row-->
    <div class="row mt-2">

      <!--Grid column-->
      <div class="col-md-12 text-center">

        <h4 class="text-center font-weight-bold dark-grey-text mt-3 mb-0">
          <strong>Share this post: </strong>
        </h4>

        <button type="button" class="btn btn-fb btn-sm">
          <i class="fab fa-facebook-f left"></i> Facebook
        </button>
        <!--Twitter-->
        <button type="button" class="btn btn-tw btn-sm">
          <i class="fab fa-twitter left"></i> Twitter
        </button>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!--/Grid column-->

</div>
<!--/Grid row-->
