<div class="wave-container">
  <div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <h3 class="font-weight-bold payment-header">Payment Details</h3>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-lg-0 mb-4">

          <img src="assets/images/healing.png" class="img-fluid" alt="">

        </div>

        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-lg-0 mb-2">
          <div [ngSwitch]="done">
            <div *ngSwitchCase="'complete'">

              <div class="customer-text z-depth-2">
                <p>Customer Name: {{customer.firstName + " " + customer.lastName}}</p>
                <p>Customer email: {{customer.email}}</p>
                <p>Consultation Type: {{customer.product.type}} : {{customer.product.selected}} minutes</p>
                <p>Paid: <i class="fas fa-rupee-sign"></i>{{customer.product.price}}</p>
                <p>TransactionId: {{customer.razorOrder.txnId}}</p>
              </div>

            </div>

            <div *ngSwitchCase="'failed'">
              <h3 class="failed-link">Payment Failed</h3>
              <a [routerLinkActive]="['active']" [routerLink]="['/consult']" class="failed-link">Please try again!</a>
            </div>

          </div>

        </div>

      </div>

    </section>
    <!--Section: Content-->


  </div>
</div>
