<div class="wave-container blog-bg wow animate__fadeInDown" data-wow-delay="0.6s" data-wow-duration="1.5s">

  <div class="container-fluid py-5 my-5 wow animate__zoomIn" data-wow-delay="1s" data-wow-deration="2s">

    <h3 class="blog-header mt-5">Blogs</h3>
    <p class="blog-text">Some of my experiences...</p>
    <section class="p-md-5 mx-md-5 text-center text-lg-left">

      <div class="row">

        <div class="col-lg-4 px-3 mb-3 d-flex align-item-stretch" *ngFor="let blog of blogService.blogs">

          <div class="card hoverable z-depth-2">

            <div class="card-body m-1">
              <p class="card-header blog-card-header">{{blog.blogMeta.title}}</p>
              <p class="card-text blog-card-text">Date: {{blog.blogMeta.date}}</p>
              <p class="card-text">Brief: {{blog.section1}}</p>
            </div>
            <button (click)="gotToDetails(blog.id)" type="button" class="btn btn-warning">Read on..</button>
          </div>

        </div>

      </div>

    </section>

  </div>

</div>
