<div class="wave-container home-bg wow animate__fadeInDown" data-wow-delay="0.6s" data-wow-duration="1.5s">

  <div class="container my-5 z-depth-5">

    <!--Section: Content-->
    <section>

      <div class="row pr-lg-5">

        <div class="col-md-9 d-flex px-3 py-3 align-items-center wow animate__fadeInLeft" data-wow-delay="0.6s"
             data-wow-duration="2s">
          <div>
            <div class="my-3">
              <i class="fas fa-eye fa-2x mr-3 darken-3 pink-text"></i>
              <h3 class="d-inline font-weight-bold holistic-header">Divine
                Healing</h3>
            </div>
            <div class="holistic-text darken-1 black-text">
              <p>This form of healing is achieved by yogic powers attained through meditation and prayers. The
                healer achieves this powers and uses the positive energy derived from it to heal the negativity within
                the patients.</p>
              <p>
                It includes the consumption of the holy turmeric powder which is the most potent natural antibiotic
                available to man. It also comprises application of <i>Vibhuti</i> which is a form of ashes obtained from
                the sacred fire. A combination of the Turmeric powder and vibhuti offered through the force of yogic
                powers provides divine healing. Many illnesses not finding cure from traditional medicine have been
                found to be cured through the process of divine healing.
              </p>
              <p>
                This is especially applicable to Mental illnesses, anxiety disorders, depressions, etc.
              </p>

            </div>

          </div>

        </div>

        <div class="col-md-3 mb-4 py-5 px-2 wow animate__fadeInRight" data-wow-delay="0.6s" data-wow-duration="2s">
          <div class="view">
            <img src="assets/images/divine-healing.png" class="img-fluid" alt="Divine Healing">
          </div>

        </div>

      </div>

    </section>
    <!--Section: Content-->

  </div>

  <div class="container z-depth-5 home-offer-bg">

    <!--Section: Content-->
    <section>

      <div class="row pr-lg-5">

        <div class="col-md-3 px-4 py-5 wow animate__fadeInRight" data-wow-delay="0.8s" data-wow-duration="2s">
          <div class="view">
            <img src="assets/images/pranic-healing.png" class="img-fluid" alt="Pranic Healing">
          </div>
        </div>

        <div class="col-md-9 d-flex align-items-center wow animate__fadeInLeft" data-wow-delay="0.8s"
             data-wow-duration="2s">
          <div>
            <div class="my-3">
              <i class="fab fa-gripfire fa-3x mr-3 darken-3 pink-text"></i>
              <h3 class="d-inline holistic-header font-weight-bold">Pranic Healing</h3>
            </div>
            <div class="holistic-text darken-1 black-text">
              <p>Prana is a Sanskrit word meaning life. Pranic healing is a revolutionary concept of Natural healing
                system which uses life to treat illnesses!!</p>
              <p>
                What is this life force? It is simply <i>'ENERGY'</i>
              </p>
              <p>
                Each of us have the capability to create this Energy. Pranic Healing uses this energy to transform the
                negative results in your life like illness into positive results thus ensuring your well being!!
              </p>
            </div>
          </div>
        </div>

      </div>

    </section>
    <!--Section: Content-->


  </div>


  <div class="container my-5 py-5 z-depth-5 home-offer-bg">


    <!--Section: Content-->
    <section>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-9 py-3 px-3 wow animate__fadeInLeft" data-wow-delay="1s" data-wow-duration="2s">

          <div class="my-3">
            <i class="fas fa-fire-alt fa-3x mr-3 darken-3 pink-text"></i>
            <h3 class="d-inline font-weight-bold holistic-header">Tantric Healing</h3>
          </div>

          <div class="holistic-text darken-1 black-text">
            <p>Tantric Healing is a healing tradition based on TANTRA, a holistic science
              based on energy and
              consciousness. It includes Ayurvedic remedies as well as energy healing leading to a yogic lifestyle.
              Through mantra, yantra and tantra, the karmic impressions of the patient are effected, in order to
              promote or provide holistic healing.</p>

            <p>
              A disease may originate due to an imbalance on any level, physical, mental/emotional or spiritual. If
              the condition becomes chronic, it spreads to all levels. And if the problem is spiritual, mere treatment
              of
              physical or emotional levels may produce new symptoms or aggravate existing problems.
            </p>

            <p>
              The Tantric healer has a strong connection to the spiritual world attained through mediation and yogic
              practices. The Tantric healer may co-operate with two kinds of spirits – Daivic (Godly) as well as
              Asuric (Demonic).
            </p>
          </div>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 py-5 my-2 wow animate__fadeInRight" data-wow-delay="1s" data-wow-duration="2s">
          <img src="assets/images/tantric-healing.png" class="img-fluid" alt="Tantric Healing">
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>
</div>

<div class="wave-container home-offer-bg">

  <div class="container-fluid my-5 p-5 z-depth-5">

    <!--Section: Content-->
    <section>

      <!-- Section heading -->
      <h2 class="text-center font-weight-bold mb-4 pb-2 holistic-header wow animate__fadeInDown" data-wow-delay="0.6s"
          data-wow-duration="1s">What I offer!</h2>
      <!-- Section description -->
      <p class="text-center lead darken-1 black-text mx-auto mb-5 holistic-text wow animate__fadeInDown" data-wow-delay="0.6s"
         data-wow-duration="1s">A complete re-structuring of your life through therapy and treatment...</p>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fas fa-bullhorn blue-text fa-2x"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10 wow animate__fadeInUp" data-wow-delay="0.8s"
                 data-wow-duration="1s">
              <h4 class="font-weight-bold offer-header">Reach out</h4>
              <p class="darken-1 black-text holistic-text">My humble aim, is to reach out to people out there, who are
                suffering the karmic fallout, to pull out of their suffering, using this divine gift bestowed unto me
                by the almighty...</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-5">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fas fa-cogs pink-text fa-2x"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10 wow animate__fadeInUp" data-wow-delay="1s"
                 data-wow-duration="1s">
              <h4 class="font-weight-bold offer-header">Peaceful Life</h4>
              <p class="darken-1 black-text holistic-text">My endeavor here is to show them that it's possible to lead a peaceful
                and
                normal life like any other, through the practice of yoga and meditation.</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fas fa-tachometer-alt purple-text fa-2x"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-10 col-md-9 col-10 wow animate__fadeInUp" data-wow-delay="1.2s"
                 data-wow-duration="1s">
              <h4 class="font-weight-bold offer-header">Continuous Support</h4>
              <p class="darken-1 black-text holistic-text">You can contact me whenever there is a need and I will help you to
                overcome the struggle.</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!--Section: Content-->


  </div>
</div>
