.home-bg {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../../assets/images/home.svg"), url("../../assets/images/home-offer.svg");
  background-repeat: no-repeat;
  background-color: #f1f2f3;
  z-index: +1;
}

.home-offer-bg {
  background-image: url("../../assets/images/home-offer.svg");
  background-repeat: no-repeat;
  z-index: -1;
}

.offer-header {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.3;
  text-align: left;
  color: #304ffe;
}
